#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    /* width: 100%; */
 }
 #navbar ul li{
    padding: 8px;
     font-size: 14px;
    font-family: arial,sans-serif;
 }
 #navbar ul li:hover{
   text-decoration: underline;
   cursor: pointer;
 }
 #google_img{
    opacity: 0.9;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 }
 #searchbar{
    margin-top:100px;
    display: flex;
    border: 1px solid #b3b3b3 ;
     width: 620px; 
     height: 50px;
     justify-content: center; 
     margin: auto;
     align-items: center;
     border-radius: 25px;
 }
 #searchbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
 }
 #searchbar:hover {
   box-shadow: 1px 1px 4px 2px rgb(202, 198, 198);
 }
 #searchbar ul li img {
    height: 30px;
    /* border: 2px solid red; */
    margin-top: 6px;
    padding-left: 0px;
    padding-right: 15px;
    
}
 
#searchbar ul li input {
    width: 460px;
    height: 45px;
    /* border: 2px solid red; */
    outline-width: 0;
    border: none;
    font-size: 18px;
}
#search_feeling ul{
     
    display: flex;
    list-style: none;
    justify-content: center;
}
#search_feeling ul li{
    border: 1px solid #b3b3b3 ;
    border-radius: 5px;
    padding: 8px;
    margin: 12px;
    font-family:arial,sans-serif ;
    font-size: 15px;
    color: #3c4043;
    display: block;
     width: 118px; 
}
#search_feeling ul li:hover{
    box-shadow:1px 1px 4px 2px rgb(202, 198, 198);
    cursor: pointer;
}
#search_feeling ul li:active{
    border: 1px solid blue
}
#languages{
    display: flex;
    align-items: center;
}
#languages ul{
    list-style: none;
    display: flex;
    margin: auto;
    margin-bottom: 130px;
}
#languages ul li{
    padding: 6px;
    color: blue;
    font-size: 14px;
}
#languages ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}
 #languages #lag_head{
    color: black;
    font-size: 15px;
}
#lat_part{
    bottom: 0px;
}
#last_part div p{
    border: 1px solid #c5c5c5;
    border-right:none;
    border-left: none;
    border-top: none;
    padding: 18px;
    background-color: #f0f0f3;
    color: #70757a;
    font-family:arial,sans-serif ;
    font-size: 17px;
    margin: 0px;
}
#last_part div ul{
    display: flex;
    list-style: none;
    padding: 0px;
    border: 1px solid #c5c5c5; 
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f0f0f3;
    color: #70757a;
    font-family:arial,sans-serif ;
    margin: 0px;
}
#last_part div ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#last_part ul li {
     margin:18px ;
}
#last_middle{
    width: 540px;
     display: flex;
 }